@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: white;
}

#clock-title {
    margin-top: 50px;
    font-size: 2em;
}

.clock-div {
    margin-top: 150px;
}

.clock-div p {
    display: inline;
    padding: 10px;
}

#clock {   
    font-weight: 300;
    font-size: 100px;
    text-shadow: 1px 1px 1px #000000;

}

#footer {
    margin-top: 191px;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5em;
    font-weight: 200;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
